# Ignores
.npmignore

# Git
.git/
.github/
.gitignore
.gitattributes

# C Sharp solution-specific
**/bin
**/obj
**/*.sln

# Docs
PULL_REQUEST_TEMPLATE.md

# Bullet-specific
BulletSharpGen/
libbulletc/
tools/
BulletSharpPInvoke/.test
BulletSharpPInvoke/.demos/
BulletSharpPInvoke/.Extensions/BulletSharp.OpenTK/
